
body {
    background-color: rgb(255, 255, 255);
}

.container {

    width: 1450px;
    height: 550px;
    position: relative;
    margin-left: 20px;
}

.logo {
border-radius: 10%;
width: 130%;
}



.nav li {
    display: inline;
    padding: 0 2%;
}
.nav a {
    display: inline-block;
    padding: 1.3em;
    color:rgb(22, 22, 22);
    text-decoration: none;
}
.nav {
    width: 1500px;
    position: absolute;
    top: 46.8%;
    left: 65%;
    transform: translate(-50%, -50%);
  

    text-align: center;
    font-family: lobster;
    font-size: 1.7em;
    color: black;
}
.nav a:hover {
    background-color: rgba(0, 0, 0, 0.0);
    text-decoration:underline;
    cursor: pointer;
}






.footer {
    position:absolute;
    bottom: 0;
    text-align: center;
    margin: 0%;
    background-color: rgb(206, 206, 206);
    width: 98%;
    height: 290px;
    color: rgb(78, 78, 78);
    padding: 12px;
    font-family: Arial;
    font-weight: lighter;
    font-size: 10px;
}
.map {
    width: 25%;
    position:absolute;
    bottom: 0;
    margin-bottom: 20px;
    margin-right: 10px;
    right: 0;
    height: 265px;
    border-color: black;
    border-width: 15px;
    border-radius: 10%;
}

























.HH {
    color:brown;
    font-size: 100px;
    font-weight: 900;
    z-index: 9;
    margin: 30px;
}

.Oliver {
    font-family: niconne;
    font-size: 100px;
    font-weight:500;


    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.99;
}